.App {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.sum {
    margin:80px 0 10px 0px
}
input {
    margin:10px 0 10px 0px
}
button {
    margin:10px 0 10px 0px
}